<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Transportion</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="/Assets/Css/bootstrap.min.css">
    <link rel="stylesheet" href="/Assets/Css/owl.carousel.min.css">
    <link rel="stylesheet" href="/Assets/Css/magnific-popup.css">
    <link rel="stylesheet" href="/Assets/Css/font-awesome.min.css">
    <link rel="stylesheet" href="/Assets/Css/themify-icons.css">
    <link rel="stylesheet" href="/Assets/Css/nice-select.css">
    <link rel="stylesheet" href="/Assets/Css/flaticon.css">
    <link rel="stylesheet" href="/Assets/Css/gijgo.css">
    <link rel="stylesheet" href="/Assets/Css/animate.css">
    <link rel="stylesheet" href="/Assets/Css/slick.css">
    <link rel="stylesheet" href="/Assets/Css/slicknav.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="/Assets/Css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>

    <!-- header-start -->
    @Html.Sitecore().Rendering("{8836740A-E89F-4A6A-ADFB-36F25254C6ED}")
    <!-- header-end -->
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
    @Html.Sitecore().Placeholder("main")
    <!-- Estimate_area start  -->
   @Html.Sitecore().Rendering("{91CC7777-3027-4E43-9876-CA4A64BCCA1E}")
    <!-- Estimate_area end  -->
    <!-- contact_location  -->
   @Html.Sitecore().Rendering("{D1EA0ADB-D800-45FA-9BDE-6215D7D15B8A}")

    <!--/ contact_location  -->
    <!-- footer start -->
  @Html.Sitecore().Rendering("{27E26292-5AA1-4809-9D95-A45588A4F167}")
    <!--/ footer end  -->
    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade custom_search_pop" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="serch_form">
                    <input type="text" placeholder="search">
                    <button type="submit">search</button>
                </div>
            </div>
        </div>
    </div>

    <!-- JS here -->
    <script src="/Assets/Js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/Assets/Js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/Assets/Js/popper.min.js"></script>
    <script src="/Assets/Js/bootstrap.min.js"></script>
    <script src="/Assets/Js/owl.carousel.min.js"></script>
    <script src="/Assets/Js/isotope.pkgd.min.js"></script>
    <script src="/Assets/Js/ajax-form.js"></script>
    <script src="/Assets/Js/waypoints.min.js"></script>
    <script src="/Assets/Js/jquery.counterup.min.js"></script>
    <script src="/Assets/Js/imagesloaded.pkgd.min.js"></script>
    <script src="/Assets/Js/scrollIt.js"></script>
    <script src="/Assets/Js/jquery.scrollUp.min.js"></script>
    <script src="/Assets/Js/wow.min.js"></script>
    <script src="/Assets/Js/nice-select.min.js"></script>
    <script src="/Assets/Js/jquery.slicknav.min.js"></script>
    <script src="/Assets/Js/jquery.magnific-popup.min.js"></script>
    <script src="/Assets/Js/plugins.js"></script>
    <!-- <script src="js/gijgo.min.js"></script> -->
    <script src="/Assets/Js/slick.min.js"></script>



    <!--contact js-->
    <script src="/Assets/Js/contact.js"></script>
    <script src="/Assets/Js/jquery.ajaxchimp.min.js"></script>
    <script src="/Assets/Js/jquery.form.js"></script>
    <script src="/Assets/Js/jquery.validate.min.js"></script>
    <script src="/Assets/Js/mail-script.js"></script>


    <script src="/Assets/Js/main.js"></script>




</body>

</html>